h1 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    color: #03a9f4;
}

.NewThought {
    width: 500px;
    font-family: 'Dosis', sans-serif;
    background-color: #03a9f4;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid black;
}

.ThoughtButton {
    text-align: center;
    margin: 20px;
}